html{
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 60px;
    text-align: center;
}
html{
    background: linear-gradient( blue, white);
}
body{
  width: 550px;
    margin: 0 auto;
    background: lightgray;
    padding: 80px 80px 80px;
}
